.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    
    
}

.productCard:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

.productCard img {
  width: 80%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productInfo h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
  }
  
  .productInfo p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--font-color);
    margin-bottom: 15px;
  }