.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    
}

.navContainer > * {
    display: flex;
    align-items: center;
}

img {
    width: 150px;
  }

a {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    
}


